@page "/About us"
<h3>Contact</h3>

<div>
    <p>
        Welcome to our website😊! We are a passionate team of students trying to make this SEP project and if you  have any complaints or suggestions on how we can be better, do not hesitate to call us! You can reach us on <i><b>+123 4567890</b></i>.
    </p>
    <h5>Opening hours</h5>
    <ul>
        Our opening hours are:
        <br><b>Monday</b> <i>9am - 4pm</i>
        <br><b>Tuesday</b> <i>9am - 3:00pm</i>
        <br><b>Wednesday</b> <i>9am - 4pm</i>
        <br><b>Thursday</b> <i>9am - 3:00pm</i>
        <br><b>Friday</b> <i>9am - 2:30pm</i>
    </ul>
    <p>
        This project created in 2024, coupled with suffering.
    </p>
</div>

<h4>Our Values</h4>
<ul>
    <li><strong>Learning:</strong> That is why we attend uni.</li>
    <li><strong>Support:</strong> Life is hard we have to support each other as team.</li>
    <li><strong>Innovation:</strong> Continuously improving and embracing new ideas.</li>
    <li><strong>Sustainability:</strong> Striving to reduce our environmental impact.</li>
</ul>

<h4>Our Team</h4>
<p>
    Meet the amazing representative of our team:
    <img src="Images/Random/team-photo.jpg" alt="Our Team" style="width: 50%; height: auto; display: block; margin: 20px auto;"/>

</p>

<h4>Our Journey</h4>
<p>
    From humble beginnings to where we are today, we continue our journey towards eternal suffering.
</p>

@code {

}