@page "/About us"
<h3>Contact</h3>

<div>
    <p>
        Welcome to our website! We are a passionate team of students trying to make this SEP porject
    </p>
    <p>
        Our mission is something I will edit laetr
    </p>
    <p>
        This project created in 2024 ,coupled with suffering.
    </p>
</div>

<h4>Our Values</h4>
<ul>
    <li><strong>Learning:</strong> That is why we attend uni.</li>
    <li><strong>Support:</strong> Life is hard we have to support each other as team.</li>
    <li><strong>Innovation:</strong> Continuously improving and embracing new ideas.</li>
    <li><strong>Sustainability:</strong> Striving to reduce our environmental impact.</li>
</ul>

<h4>Our Team</h4>
<p>
    Meet the amazing representative of our team:
    <img src="Images/Random/team-photo.jpg" alt="Our Team" style="width: 50%; height: auto; display: block; margin: 20px auto;"/>

</p>

<h4>Our Journey</h4>
<p>
    From humble beginnings to where we are today we continue our journey towards eternal suffering.
</p>

@code {

}