@page "/Checkout"
@using System.ComponentModel
@using BlazorApp1.Managers
@using Entities
@inject IManager Manager
@inject NavigationManager NavigationManager

<PageTitle>Checkout</PageTitle>
<h1>@total</h1>


@code {
    private string total;
    
    protected override async Task OnInitializedAsync()
    {
        total = Manager.GetTotal().ToString("C");
    }
    
    
}