@page "/counter"
@using Entities
@using Managers
@inject IManager manager
@rendermode InteractiveServer


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private string currentCount = "none";

    private void IncrementCount()
    {
        User user = manager.getUser("hello", "hiiii");
        currentCount = user.BillingAddress;
    }

}