@using DataTransferObjects;
@using Entities
@using Microsoft.AspNetCore.Components;

@foreach (var order in Orders)
{
    <div class="col-md-3 mb-2">
        <a href="@($"/OrderDetails/{order.OrderId}")">
            <div class="card">
                <img class="img-thumbnail" src="@order.Items[0].ImageURL">
                <div class="card-body">
                    <h5 class="card-title mb-3">
                        @order.PlacedOn
                    </h5>
                    <p class="card-text">
                        <b>@order.Price.ToString("C", new System.Globalization.CultureInfo("en-DK"))</b>
                    </p>
                </div>
            </div>
        </a>
    </div>
}

@code
{
    [Parameter] public IEnumerable<Order> Orders { get; set; }
}