@page "/edituser"
@using System.Reflection.Metadata
@attribute [StreamRendering]

<PageTitle>Edit User</PageTitle>

<h1>User Information</h1>

<p><label>First name:</label>
<input type="text" @bind="firstName"/></p>
<p><label>Last name:</label>
<input type="text" @bind="lastName"/></p>
<p><label>Username:</label>
<input type="text" @bind="username"/></p>
<p><label>Email:</label>
<input type="text" @bind="email"/></p>
<p><label>Address:</label>
<input type="text" @bind="address"/></p>
<p><label>Card information:</label>
<input type="text" @bind="paymentInfo"/></p>
<p><label>Password:</label>
<input type="password" @bind="password"/></p>

@code {
    private string username;
    private string password;
    private string email;
    private string firstName;
    private string lastName;
    private string address;
    private string paymentInfo;
    private string errorLabel;

    protected override async Task OnInitializedAsync()
    {
    }

}