@page "/"
@inject NavigationManager NavMgr
@rendermode InteractiveServer
<PageTitle>Home</PageTitle>

<h1>Welcome to Kassa!</h1>

<p>What are you looking for today?</p>

<table class="table">
    <thead>
    <tr>
        <th> <button @onclick='() => NavMgr.NavigateTo("Return")'>Return Clothes</button></th>
        <th> <button @onclick='() => NavMgr.NavigateTo("EditUser")'>User Profile</button></th>
        <th> <button @onclick='() => NavMgr.NavigateTo("About us")'>Contact</button></th>
        <th> <button @onclick='() => NavMgr.NavigateTo("Product")'>Shop</button></th>
        <th> <button @onclick='() => NavMgr.NavigateTo("ShoppingCart")'>Shopping Cart</button></th>
    </tr>
    </thead>
    <tbody>
    
    {
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    }
    </tbody>
</table>