@page "/Login"
@using BlazorApp1.Auth
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavMgr
@rendermode InteractiveServer

<h3>Login</h3>

<AuthorizeView>

    <NotAuthorized>
        <h3>Please login or Register</h3>
        <label>Username:</label>
        <input type="text" @bind="_username"/>
        <label>Password:</label>
        <input type="password" @bind="_password"/>
        @if (!string.IsNullOrEmpty(_errorLabel))
        {
        <label style="color: red"> @_errorLabel </label>
        }
        <button type="button" class="btn btn-primary" @onclick="HandleLoginAsync">Log in</button>
        <button type="button" class="btn btn-primary" @onclick="HandleRegisterAsync">Register</button>
    </NotAuthorized>
    <Authorized>
        <h3>Hello, @context.User.Identity.Name</h3>
    </Authorized>
</AuthorizeView>
@code 
{
    private string? _username;
    private string? _password;
    private string? _errorLabel;

    private async Task HandleLoginAsync()
    {
        _errorLabel = "";
        if (!string.IsNullOrEmpty(_username) && !string.IsNullOrEmpty(_password))
        {
            try
            {
                await ((SimpleAuthProvider)AuthProvider).Login(_username, _password);
                NavMgr.NavigateTo("/");
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
                _errorLabel = $"Error: {e.Message}";
            }
        }
        else
            _errorLabel = "You need to fill in username and password";
    }

    private async Task HandleRegisterAsync()
    {
        _errorLabel = "";
        if (!string.IsNullOrEmpty(_username) && !string.IsNullOrEmpty(_password))
        {
            try
            {
                await ((SimpleAuthProvider)AuthProvider).CreateUser(_username, _password);
                NavMgr.NavigateTo("/");
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
                _errorLabel = $"Error: {e.Message}";
            }
        }
        else
            _errorLabel = "You need to fill in username and password";
    }
}